<!DOCTYPE html>
<html lang="en">
    <%- include('../common/head') %>

    <body>
        <%- include('../common/header') %>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                      <form method="post" action="/listing/new">
                        <div>
                            <input type="text" name="listing[title]" placeholder="title">
                        </div>
                        <div>
                            <textarea type="text" name="listing[description]" placeholder="description"></textarea>
                        </div>
                        <div>
                            <input type="text" name="listing[description]" placeholder="description">
                        </div>
                      </form>
                    </div>
                </div>
            </div>

        <%- include('../common/footer') %>
    </body>

</html>