<div class="container">
    <div class="row align-items-stretch g-3 ">
        <% for (arr in data){ %>
            <div class="col-lg-3 col-md-2 col">
                <%- include("./card",{data : data[arr]}) %>
            </div>
        <% } %>
    </div>
</div>