<% layout('layout/boilerplate') -%>

    <div class="container my-3">
        <div class="row align-items-stretch g-3 ">
            <% for (arr in allListings){ %>
                <div class="col-lg-3 col-md-4 col-sm-6  col-12">
                    <%- include("./card",{data : allListings[arr]}) %>
                </div>
                <% } %>
        </div>
    </div>